# Raw and processed sequencing data
raw_sra/
fastq/
trimmed/

# Alignment files
alignment/*.bam
alignment/*.bai
alignment/*.sam

# Temporary files
tmp_sra/
tmp/
*.tmp

# Python virtual environment
.multiqc-venv/

# OS / editor files
.DS_Store
Thumbs.db
*.swp

# R session files
.Rhistory
.RData
.Rproj.user/

# Large intermediate files
counts/test/

# Reference genome and HISAT2 index
reference/

# Temporary/test outputs
counts/test/

# Alignment logs
alignment/logs/

# Local analysis duplicates
analysis/
counts/
